#main {
    width: 20rem;
    height: 20rem;
    display: flex;
    margin: 10rem auto;
    flex-wrap: wrap;
}
img {
    width: 20rem;
}
button {
    color: white;
    margin: 1rem 0;
    border: none;
}
button:hover {
    opacity: .8;
}